
<fieldset>
    <legend> Muuda kontakti</legend>
    <input ng-model="vm.item.name" id="name-input" ><br />
    <input ng-model="vm.item.phone" id="phone-input"><br />
    <button  ng-click="vm.editItem(item._id)" id="save-link"> Salvesta</button>
</fieldset>