<fieldset>
    <legend> Lisa kontakt</legend>
    <input ng-model="vm.contactname" id="name-input" placeholder="Name"><br />
    <input ng-model="vm.contactphone" id="phone-input" placeholder="Tel"><br />
    <button  ng-click="vm.addItem()" id="save-link"> Salvesta</button>
</fieldset>