<input ng-model="vm.srchStr" id="search-string" placeholder="Otsi">
<pre></pre>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Tel
        </th>
        <th>
            Kustuta
        </th>
        <th>
            Vali
        </th>
    </tr>
    </thead>
    <body>
    <tr ng-class="{selected: item.selected}" ng-repeat="item in vm.items | filter:vm.find">
        <td>
            <a href="#/details/{{item._id}}" class="edit-link">
                {{ item.name }}
            </a>
        </td>
        <td>
            {{ item.phone }}
        </td>
        <td>
            <a href ng-click="vm.removeItem(item._id)" class="delete-link">kustuta</a>
        </td>
        <td>
            <input type="checkbox" ng-model="item.selected" ng-change="vm.selectedItems(item._id, item.selected)"><br/>
        </td>
    </tr>
    </body>
</table>
<a href ng-click="vm.deleteMultiple()">Kustuta valitud</a>