<fieldset>
  <legend> Lisa kontakt</legend>
  <input [(ngModel)]="contact.contactName" id="name-input" placeholder="Name"><br />
  <input [(ngModel)]="contact.contactPhone" id="phone-input" placeholder="Tel"><br />
  <button (click)="saveContact()" id="save-link"> Salvesta</button>
</fieldset>