<input [(ngModel)]="searchText" id="search-string" placeholder="Otsi">
<table border="1" cellpadding="10">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Tel
    </th>
    <th>
      Kustuta
    </th>
    <th>
      Vali
    </th>
  </tr>
  </thead>
  <tbody>
  <tr [ngClass]="{selected: contact.selected}" *ngFor="let contact of contacts | filter: searchText">
    <td>
      <a routerLink="/details/{{contact._id}}" class="edit-link">
        {{ contact.contactName}}
      </a>
    </td>
    <td>
      {{ contact.contactPhone }}
    </td>
    <td>
      <a href class="delete-link" (click)="removeContact(contact._id)">kustuta</a>
    </td>
    <td>
      <input type="checkbox" [(ngModel)] = "contact.selected" (change)="selectedItems(contact._id, contact.selected)"><br/>
    </td>
  </tr>
  </tbody>
</table>
<br>
<button (click)="removeSelected()" id="delete-all-link" >Kustuta valitud</button>